@charset "utf-8";

.success {
    color: white;
    background: green;
    padding: 5px;
    margin: 5px 0 15px 0;
}

.error {
    color: white;
    background: red;
    padding: 5px;
    margin: 5px 0 15px 0;
}